<h1>F-Rad Home (Dashboard)</h1>
<p>Congrats, you're recognized as paid or logged in. Access your fellowship tips here.</p>
<ul>
  <li>Rhodes Scholarship</li>
  <li>Marshall Scholarship</li>
  <li>Gates-Cambridge Scholarship</li>
  <li>Churchill Scholarship</li>
</ul>
