<h1>F-Rad Fellowship Planner</h1>
<p>Welcome to F-Rad. Win major grad fellowships like Rhodes, etc. Long Scroll, multiple CTAs.</p>

<%= form_tag '/auth/google_oauth2', method: :post, data: { turbo: false } do %>
  <%= button_tag 'Sign in with Google', class: 'google-signin-btn' %>
<% end %>

<%= link_to 'Buy $99', product_path, class: 'buy-btn' %>
